 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/2023-03-05101014.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 107px 230px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 19px rgba(0,0,0,1);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Cheque-Black;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 38px 187px 0 auto;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 17px rgba(0,0,0,0.95);
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 38px 210px 60px 250px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-video-1 {
    animation-duration: 1000ms;
    margin-top: 159px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-right: 110px;
    margin-left: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 107px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-top: 163px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    width: 340px;
    margin-top: 276px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 18px;
  }
}

.u-section-1 .u-video-1,
.u-section-1 .u-video-1:before,
.u-section-1 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-video-1.u-video-1.u-video-1:hover {
  box-shadow: 0px 0px 35px 0px rgba(255,255,255,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.08) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-video-1 {
  border-color: transparent !important;
}

.u-section-1 .u-video-1.u-video-1.u-video-1.hover {
  box-shadow: 0px 0px 35px 0px rgba(255,255,255,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.08) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-video-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}@font-face {
  font-family: 'Cheque-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cheque-Black.otf);
}@font-face {
  font-family: 'Cheque-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cheque-Regular.otf);
}